<h1>Multiplication</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_num_mult %></dd>

  <dt>Second number</dt>
  <dd><%= @second_num_mult %></dd>

  <dt>Result</dt>
  <dd><%= @result_mult %></dd>
</dl>

<a href="/multiply">Do another multiplication</a>
