<h1>Subtraction</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_num_sub %></dd>

  <dt>Second number</dt>
  <dd><%= @second_num_sub %></dd>

  <dt>Result</dt>
  <dd><%= @result_sub %></dd>
</dl>

<a href="/subtract">Do another subtraction</a>

