<h1>New subtraction</h1>



<form action="/wizard_subtract">
  <label for="sub_form_first_number">
    Subtract this:
  </label>
  <input id="sub_form_first_number" name="first_num" text="text">
    <label for="sub_form_sec_number">
    from this:
  </label>
  <input id="sub_form_sec_number" name="second_num" text="text">

  <button>
    Subtract!
  </button>
</form>
